/* ul{
  padding: 10px;
  background: black;
}

li{
  display: inline;
  padding: 0px; 10px; 0px; 10px;
}

a {
  color: white;
} */



ul li a {
  color: #bfbfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: -50px 30px 30px 90px;
}

carousel img {
     width: 100%;
     padding: 5%;
}

h1 {
  text-align: center;
  font-size: 18px;
  margin: 70px 0px 70px 0px;
  color: pink;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

fa-instagram {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;

.fa-instagram {
    background: #125688;
    color: white;
    }

.fa-facebook {
  padding: 40px;
  fontsize: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
