/* ul{
  padding: 10px;
  background: black;
}

li{
  display: inline;
  padding: 0px; 10px; 0px; 10px;
}

a {
  color: white;
} */


ul li a {
  color: pink;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  margin: 30px 30px 30px 30px;
}

carousel img {
     width: 100%
}

h1 {
  text-align: center;
  margin: 70px 0px 70px 0px;
  color: pink;
  font-family: 'Poiret One', cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
